@import 'settings';
@import 'foundation';

@include foundation-everything(false);

h1 {
  margin-top: 2rem;
  border-bottom-color: $secondary-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
