<h1>Experience</h1>

{{>position spida}}
{{>position bosch}}
{{>position los-alamos-grad}}
{{>position tk}}
{{>position los-alamos-intern}}
{{>position enable}}

<hr>
<h1>Computer Skills</h1>
{{>computer_skills computer_skills}}
