<h1>Experience</h1>

<div class="row">
    <div class="medium-6 small-12 columns">
      {{>position spida}}
    </div>
    <div class="medium-6 small-12 columns">
      {{>position bosch}}
    </div>
</div>
<div class="row">
    <div class="medium-6 small-12 columns">
      {{>position los-alamos-grad}}
    </div>
    <div class="medium-6 small-12 columns">
      {{>position tk}}
    </div>
</div>
<div class="row">
    <div class="medium-6 small-12 columns">
      {{>position los-alamos-intern}}
    </div>
    <div class="medium-6 small-12 columns">
      {{>position enable}}
    </div>
</div>

<hr>
<h1>Computer Skills</h1>
{{>computer_skills computer_skills}}

<h1>Education</h1>

<div class="row">
    <div class="medium-6 small-12 columns">
      {{>education masters}}
    </div>
    <div class="medium-6 small-12 columns">
      {{>education bachelors}}
    </div>
</div>
