<div class="row">
  {{#each this as |skill index|}}
    {{#row index}}
      </div>
      <div class="row">
    {{/row}}
    <div class="large-3 medium-6 small-12 columns">
      <h2>{{skill.section}}</h2>
        {{#each skill.items as |item|}}
          <div class="row">
            <div class="small-6 columns text-right">
              {{item.name}}
            </div>
            <div class="small-6 columns">
              {{#dots item.value}}{{/dots}}
            </div>
          </div>
        {{/each}}
    </div>

    {{/each}}
  </div>
