<h2>{{college}}</h2>

<div class="row">
  <div class="small-12 columns">
    <h3>{{department}}</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
      <h3>{{degree}}</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul>
      {{#each notes}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>
