<div class="row">
  <div class="small-12 columns">
    TIMOTHY OVERLY
  </div>
  <div class="small-12 columns">
    143 Chaucer Court
  </div>
  <div class="small-12 columns">
    Worthington, Ohio  43085
  </div>
  <div class="small-12 columns">
    timothy@overly.me
  </div>
  <div class="small-12 columns">
    513.225.1226
  </div>
</div>
