<h2>{{company}}</h2>

<div class="row">
  <div class="small-12 columns">
    <h3>{{position}}</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
      <h3>{{department}}</h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul>
      {{#each tasks}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
</div>
