<div class="row">
  {{#each this}}
    <div class="large-4 medium-6 small-12 columns">
      <h2>{{this.section}}</h2>
        {{#each this.items as |item|}}
          <div class="row">
            <div class="small-6 columns text-right">
              {{item.name}}
            </div>
            <div class="small-6 columns">
              {{#dots item.value}}{{/dots}}
            </div>
          </div>
        {{/each}}
    </div>
  {{/each}}
</div>
