<div class="row">
  {{#each this}}
    <div class="large-4 medium-6 small-12 columns">
      <h2>{{this.section}}</h2>
      <ul>
        {{#each this.items as |item|}}
          <li>{{item.name}}
            {{#dots item.value}}{{/dots}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
