<div class="row">
  {{#each this}}
    <div class="large-4 medium-6 small-12 columns">
      <h2>{{this.section}}</h2>
      <ul>
        {{#each this.items}}
          <li>{{this.name}}-{{this.value}}</li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
</div>
